<div class="w-100 content1 mt-0">
 <div class="content1 py-5">
    <div class="container my-3">
        <div class="row g-3">
          <div class="col-md-4 ">
            <div class="text-white text-center">
              <h2>LOCATION</h2>
              <p>2215 John Daniel Drive</p>
              <p>Clark, MO 65243</p>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="text-white text-center">
              <h2>AROUND THE WEB</h2>
              <div class="mt-2">
                <div class="icons">
                    <i class=" fa-brands fa-facebook mx-1 icon"></i>
                    <i class=" fa-brands fa-twitter mx-1 icon"></i>
                    <i class=" fa-brands fa-linkedin-in mx-1 icon"></i>
                    <i class=" fa-solid fa-globe mx-1 icon"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="text-white text-center">
              <h2>ABOUT FREELANCER</h2>
              <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
          </div>
        </div>
      </div>
 </div>
 <div class="content2 py-2">
    <p class="text-white text-center"> Copyright © Your Website 2021</p>
 </div>
</div>
