<div class="content1 fixed-top">
  <div class="">
    <nav class="navbar text-white navbar-expand-lg bg-transparent navo">
      <div class="container ">
        <a class="navbar-brand text-white fs-2 fw-bold"  routerLink="">START FRAMEWORK </a>
        <button
            class="navbar-toggler border-white"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class=" "><i class="fa-solid fa-sliders text-white"></i></span>
          </button>
        <div class="collapse navbar-collapse bg-transparent" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-white fw-bold" routerLinkActive="active1"   routerLink="about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fw-bold" routerLinkActive="active1"  routerLink="portfolio">PORTFOLIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fw-bold" routerLinkActive="active1" routerLink="contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
