<div class="w-100 content1 d-flex justify-content-center align-items-center">
  <div class=" text-white ">
    <img src="../../assets/images/avataaars.svg" class="w-75 mb-3 ms-5" alt="" />
    <h2 class="fw-bold fs-1">START FRAMEWORK</h2>
    <div class=" d-flex justify-content-center align-items-center my-2">
      <div class="line rounded-pill me-3 bg-white"></div>
      <i class="fa-solid fa-star"></i>
      <div class="line rounded-pill ms-3 bg-white"></div>
    </div>
    <p class="text-center ">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</div>
